<section class="terceraParte">
<div class="contenedor">
 <div class="portada">
    <div class="cuadro-amarillo">
        <div class="letras Letra"><b>PROGRAMAS</b> </div>
    </div>
    
    <div class="Imagenes2">
      <div class="rectangulo-blanco">
        <div class="miniImagenes"> 
         <img src="assets/img/Imagen-tercera1.webp" class="imagen1"/>
         <img src="assets/img/Imagen-tercera2.webp" class="imagen2"/>
        <img src="assets/img/Imagen-tercera3.webp" class="imagen3"/> 
        <img src="assets/img/Imagen-tercera4.webp" class="imagen4"/>
        </div>
      </div>
    
        <img src="/assets/img/CirculoCara.webp" class="circulo"/>
        <div class="Entre-otros">Entre otros</div>
      
    </div>
 </div>

 
    <div class="Ilustracion">
      <img src="assets/img/Ilustracion.webp" class="Ilustracion2"/>
      <img src="assets/img/kub.webp" class="Kub"/>
    </div>
      <div class="letricas Letra">Estas son algunas de mis ilustraciones que he trabajado a lo largo de estos<br/>
      ultimos años, muchas de estas son inspiradas en la biblia y en todo lo creado,</div>
   

</div>

</section>
