<section>
  <div class="contenedor">
    <div class="cuadro-blanco">
      <div class="cuadro-amarillo">
        <img src="assets/img/segundaParte.webp" class="imagen" />
      </div>
      <div class="ajuste">
        <div>
          <h1 class="titulo Letra">
            HOLA, SOY <br />
            LUCHO
          </h1>
        </div>

        <h2>
          <p class="texto2 Letra">
            UN APASIONADO DEL ARTE Y DISEÑO GRÁGICO,<br />
            DEDICADO A CREAR OBRAS QUE INSPIRAN Y <br />
            CONECTAN. MI AMORPOR EL DISEÑO SE FUSIONA<br />
            CON MI FE CRISTIANA, GUIANDO CADA PROYECTO<br />
            HACIA UNA DIRECCIÓN QUE GLORIFIUE A DIOS.
          </p>
        </h2>
        <div class="centrar">
          <p class="texto4 Letra">
            ¡BIENVENIDOS A MI MUNDO CREATIVO<br />
            DONDE EL ARTE Y LA FE SE ENCUENTRAN!
          </p>
        </div>

        <div class="barra_negra">
          <p class="texto3 Letra">
            EN MI PORTAFOLIO ENCONTRARÁS UNA VARIEDAD<br />
            DE DISEÑOS Y ILUSTRACIONES VIBRANTES, CADA<br />
            UNO REFLEJANDO MI DEDICACIÓN, CREATIVIDAD Y<br />
            COMPROMISO CON LA EXCELENCIA.
          </p>
        </div>

        <div class="lucho Letra">LUCHO.KUB</div>
      </div>
    </div>
  </div>
</section>
