.contentbannerPrincipal {
  background-image: url(/assets/img/fondoPrincipal.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 60px;
  img {
    width: 100%;
  }
}
